# Data Understanding

In [1]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:/semester 6/dami/data proyek/Data Sampel Final 2022/Kontekstual DM/DM2019_kepesertaan.dta")

# Tampilkan 5 baris pertama
df.head()

,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
0,45243428,45243428,1959-10-11,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,ACEH,PIDIE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,PIDIE,11.468968,2020,AKTIF,NaN
1,356470819,356470819,1965-12-31,PESERTA,LAKI-LAKI,KAWIN,KELAS I,PPU,ACEH,KOTA BANDA ACEH,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA BANDA ACEH,9.863322,2020,AKTIF,NaN
2,72280409,375793382,1964-08-03,ISTRI,PEREMPUAN,CERAI,KELAS I,BUKAN PEKERJA,SUMATERA UTARA,BATU BARA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,BATU BARA,8.487743,2020,AKTIF,NaN
3,88501975,88501975,1959-10-02,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,SUMATERA UTARA,ASAHAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,ASAHAN,10.726228,2020,MENINGGAL,2019.0
4,94870095,310527655,1947-01-01,SUAMI,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,SUMATERA BARAT,PESISIR SELATAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA BARAT,PESISIR SELATAN,10.539836,2020,AKTIF,NaN

In [8]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:/semester 6/dami/data proyek/Data Sampel Final 2022/Kontekstual DM/DM2020_kepesertaan.dta")

# Tampilkan 5 baris pertama
df.head()

,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2020,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2020,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2020,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2020,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2020,AKTIF,NaN

In [10]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\DM2021_fkrtl.dta")

# Tampilkan 5 baris pertama
df.head()

,PSTV01,PSTV02,PSTV15,FKP02,FKL02,FKL03,FKL04,FKL05,FKL06,FKL07,...,FKL39,FKL40,FKL41,FKL42,FKL43,FKL44,FKL45,FKL46,FKL47,FKL48
0,50886719,50886719,12.507828,,414390221V002006,2021-02-20,2021-02-20,RIAU,KOTA PEKANBARU,POLRI,...,,0,,,0,,,0,184300,184300
1,70972186,6871133,13.055749,,380700421V000216,2021-04-07,2021-04-08,KALIMANTAN TIMUR,KOTA SAMARINDA,TNI AD,...,,0,,,0,,,0,2578800,2578800
2,31874094,71865092,7.740489,,385450421V006571,2021-04-19,2021-04-19,JAWA TENGAH,KOTA SURAKARTA,Swasta,...,,0,,,0,,,0,193800,193800
3,87945875,87945875,7.734398,,206900221V006045,2021-02-28,2021-03-03,ACEH,ACEH TENGAH,Pemerintah kab/kota,...,,0,,,0,,,0,2705800,2705800
4,384677503,384677503,2.777775,,447120121V000468,2021-01-29,2021-02-01,SUMATERA SELATAN,KOTA PRABUMULIH,Swasta,...,,0,,,0,,,0,2174700,2174700

In [12]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\DM2021_fkrtldxsekunder.dta")

# Tampilkan 5 baris pertama
df.head()

              FKL02 FKL24 FKL24A                                   FKL24B
0  100080121V000024  E119    E11             E11 Type 2 diabetes mellitus
1  100080121V000024   I10    I10     I10 Essential (primary) hypertension
2  100080121V000024  I693    I69  I69 Sequelae of cerebrovascular disease
3  100080121V000078  E119    E11             E11 Type 2 diabetes mellitus
4  100080121V000078  I693    I69  I69 Sequelae of cerebrovascular disease

In [18]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(
    r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\DM2021_fktpkapitasi.dta",
    convert_categoricals=False
)

df.head()

,PSTV01,PSTV02,PSTV15,FKP02,FKP03,FKP04,FKP05,FKP06,FKP07,FKP08,...,FKP14A,FKP15,FKP15A,FKP16,FKP17,FKP18,FKP19,FKP20,FKP21,FKP22
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,31,3174,3,1,...,,9999,9999,98,9998,98,98,98,98,2
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,17,1702,3,1,...,,9999,9999,98,9998,98,98,98,98,2
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,31,3175,3,1,...,,9999,9999,98,9998,98,98,98,98,2
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,32,3276,3,1,...,,9999,9999,98,9998,98,98,98,98,2
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,52,5272,3,1,...,,9999,9999,98,9998,98,98,98,98,2

In [20]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\DM2021_fktpnonkapitasi.dta")

# Tampilkan 5 baris pertama
df.head()

,PSTV01,PSTV02,PSTV15,PNK02,PNK03,PNK04,PNK05,PNK06,PNK07,PNK08,...,PNK12,PNK13,PNK13A,PNK14,PNK15,PNK16,PNK17,PNK18,PNK19,PNK20
0,88204825,88204825,6.755007,203960321P000052,2021-03-13,2021-03-16,2021-03-16,NUSA TENGGARA BARAT,LOMBOK TIMUR,SWASTA,...,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,540000,540000,0.0,NaN
1,24034617,72462276,12.832207,185630321P001651,2021-03-28,2021-03-28,2021-03-30,SULAWESI SELATAN,LUWU,PEMERINTAH KABUPATEN/KOTA,...,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,240000,240000,0.0,NaN
2,17391573,417758463,13.106908,46631021P000693,2021-10-11,2021-10-14,2021-10-14,JAWA BARAT,BANDUNG,PEMERINTAH KABUPATEN/KOTA,...,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,600000,600000,0.0,NaN
3,60560444,60560444,12.762736,325900321P000146,2021-03-17,2021-03-21,2021-03-21,JAWA TENGAH,SRAGEN,SWASTA,...,PBI APBN,A09 Other gastroenteritis and colitis of infec...,A09,A09,Diarrhoea and gastroenteritis of presumed infe...,Rawat Inap di R. Perawatan Biasa,640000,640000,0.0,NaN
4,291346266,291346266,13.404066,460570621P000056,2021-06-13,2021-06-16,2021-06-16,ACEH,ACEH UTARA,SWASTA,...,PPU,A09 Other gastroenteritis and colitis of infec...,A09,A09,Diarrhoea and gastroenteritis of presumed infe...,Rawat Inap di R. Perawatan Biasa,525000,525000,0.0,NaN

In [22]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_stata(r"D:/semester 6/dami/data proyek/Data Sampel Final 2022/Kontekstual DM/DM2021_kepesertaan.dta")

# Tampilkan 5 baris pertama
df.head()

,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2021,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2021,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2021,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2021,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2021,AKTIF,NaN

## Kode Diagnosis ICD10

In [30]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_excel(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\Kode diagnosis ICD10\2021 Kode ICD10 untuk diagnosis FKRTL.xlsx")

# Tampilkan 5 baris pertama
df.head()

   FKL15 ICD10_Code                                 ICD10_Text
0      1        A00                                A00 Cholera
1      2        A01         A01 Typhoid and paratyphoid fevers
2      3        A02            A02 Other salmonella infections
3      4        A03                            A03 Shigellosis
4      5        A04  A04 Other bacterial intestinal infections

In [32]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_excel(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\Kode diagnosis ICD10\2021 Kode ICD10 untuk diagnosis FKTP Kapitasi.xlsx")

# Tampilkan 5 baris pertama
df.head()

   FKP14 ICD10_Code                                 ICD10_Text
0      1        A00                                A00 Cholera
1      2        A01         A01 Typhoid and paratyphoid fevers
2      3        A02            A02 Other salmonella infections
3      4        A03                            A03 Shigellosis
4      5        A04  A04 Other bacterial intestinal infections

In [34]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file kamu
df = pd.read_excel(r"D:\semester 6\dami\data proyek\Data Sampel Final 2022\Kontekstual DM\Kode diagnosis ICD10\2021 Kode ICD10 untuk diagnosis FKTP Non Kapitasi.xlsx")

# Tampilkan 5 baris pertama
df.head()

   PNK13 ICD10_Code                                 ICD10_Text
0      1        A00                                A00 Cholera
1      2        A01         A01 Typhoid and paratyphoid fevers
2      3        A02            A02 Other salmonella infections
3      4        A03                            A03 Shigellosis
4      5        A04  A04 Other bacterial intestinal infections